PySocks>=1.7.1
cloudscraper>=1.2.71
requests>=2.31.0
scapy>=2.5.0
colorama>=0.4.6
icmplib>=3.0.4
pycryptodome>=3.19.0
psutil>=5.9.6
ctypes>=1.0.2
socket>=0.0.1
ssl>=1.16
urllib3>=2.0.7
threading>=0.0.1
time>=0.0.1
sys>=0.0.1
os>=0.0.1
platform>=0.0.1
random>=0.0.1
subprocess>=0.0.1
getpass>=0.0.1
shutil>=0.0.1
struct>=0.0.1
base64>=0.0.1
hashlib>=0.0.1
